{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta>
        <title>Candid Photography</title>
        <link rel="stylesheet" href="{% static 'staticfiles/photoAlbum.css' %}" type='text/css'>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h1>Candid Photography Album</h1>
            <div class="album">
                <!--Loop through photos and display each one-->
                {% for photo in photos %}
                    <div class="photo">
                        <img src="{{ photo.image.url }}" alt="{{ photo.title }}">
                        <h2>{{ photo.title }}</h2>
                        <p>{{ photo.decsription}}</p>
                    </div>
                {% endfor %}
            </div>
        </div>

    </body>

</html>