body{
    background-color:#f8f8f8!important; 
}
#profile-wrapper{
    text-align: center; 
}
#profile-pic{
    width:150px; 
    height:150px; 
    border-radius: 50% 20% / 10% 40%;;
    margin-left: auto;
    margin-right: auto; 
}
ul{
    padding: 0;
}
.social-links ul, li{
    list-style-type:none;
    display:inline-block;
}
.social{
    width:40px; 
    height:40px; 
}
.photo-types li{
    list-style-type: circle; 
    display:block; 
}
.skills li{
    display: block; 
}


/*
img {
    height:auto; 
    max-width: 25%
}*/
